<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ item.product.name }}</h5>
      <p class="card-text">{{ item.product.artist }}</p>
      <p class="card-text">Price: {{ item.product.price | currency }}</p>
      <div class="input-group">
        <span class="input-group-prepend">
          <button class="btn btn-outline-secondary" (click)="decreaseQuantity()" >-</button>
        </span>
        <input type="number" class="form-control" [(ngModel)]="item.amount" min="1">
        <span class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="increaseQuantity()">+</button>
        </span>
      </div>
    </div>
  </div>