<div class="col">
    <div class="card text-center h-100">
        <img src="{{product.imageUrl}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.artist}}</p>
            <p class="card-text">{{product.price | currency}}</p>
        </div>
        <div class="card-footer">
            <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" (click)="addToBasket(product)" class="btn btn-primary"><i class="bi bi-bag-check-fill"></i> Add to basket</button>
        </div>
    </div>
</div>